* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto;
}

body {
    background-color: #222222;
    color: #69b899;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.bienvenida {
    height: 100vh;
    width: 100vw;
    background-color: #444444;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 2em;
}

.bienvenida p {
    width: 950px;
}
 
h4{
    margin-bottom: 20px;
    font-size: 3em;
}

#turnoActual{
    color: red;
}
#rojo {
    color: rgba(255, 0, 0, 0.678);
    text-decoration: underline;
}

#azul {
    color: rgba(0, 0, 255, 0.726);
    text-decoration: underline;
}

.bienvenida h2{
    margin-bottom: 40px;
}
.bienvenida h3 {
    color: #222222;
    margin-top: 90px;
    font-size: 1.4em;
    opacity: 80%;
    animation-name: pulser;
	animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes pulser {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

.container {
    height: 700px;
    width: 700px;
    display: grid;
    background-color: #444444;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px;
    padding: 10px;
    font-size: 3em;
    position: relative;
}

.container div {
    background-color: aliceblue;
}


#flotante {
    display: none;
    font-size: 1.8em;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    color: #222222;
    background-color: #69b899;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    padding: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}